body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    background-color: #777;
    height: 100%;
    width: 960px;
    margin: 0px auto;
}

header, nav {
    margin-top: 10px;
}

section, aside {
    margin-top: 20px;
}

header{
    background-color: #ebebeb;
    text-align: center;

}

nav{
    background-color: #ebebeb;
    text-align: center;

}

header,nav,footer{
    padding: 30px 0px 30px 0px;
}

section{
    background-color: #ebebeb;
    width: 475px;
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 30px 10px 10px 10px;
}

aside{
    background-color: #ebebeb;
    text-align: center;
    padding-top: 20px;
    float: left;
    width: 445px;
    height: 287px;
}

article{
    color: #ebebeb;
    background-color: #777;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

h1,p{
    color: #777;
    background-color: #ebebeb;
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 20px;
}

h1{
    font-style: normal;
    margin-top:20px;
}


footer{
    background-color: #ebebeb;
    text-align: center;
    clear: both;
}